@model IEnumerable<prjMid.Models.Book>
@{
    ViewBag.Title = "Prog4";
}

<h2>著名夜市</h2>

@foreach(var item in Model)
{
    string img = item.Url + ".jpg";
    <div class="col-12 col-md-4" style="margin-top:10px">
        <div class="img-thumbnail">
            <img src="~/Images/@img" class="img-responsive" />
            <h4>@item.Name</h4>
            <p><a href="https://www.google.com.tw/maps/place/@item.Path" class="btn btn-info" target="_blank">路線規劃</a></p>
        </div>
    </div>
}
<br />

