@*@model prjMid.Models.Table*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prog3</title>
</head>
<body>
    <form method="post" action="@Url.Action("Prog3")">
        <div> 橫列數:<input type="text" name="Row" value="@ViewBag.Row" /> </div>
        <div> 縱列數:<input type="text" name="Col" value="@ViewBag.Col" /> </div>
        <br />
        <div><input type="submit" value="確定" /></div>
    </form>
    <p>
        @if(@Model != null)
        {
            int row = Convert.ToInt32(Model.Row);
            int col = Convert.ToInt32(Model.Col);
            string img = "";
            int time = 0;
            <table border="1">
            @for(int i = 1; i <= row; i++)
            {
                <tr>
                @for(int j = 1; j <= col; j++)
                {
                    time++;
                    if(time % 2 == 1)
                    {
                        img = Model.Row + ".gif";
                    }
                    else
                    {
                        img = Model.Col + ".gif";
                    }

                    <td>
                        <img src="~/Images/@img" />
                    </td>
                }
                </tr>
            }
            </table>

        }
    </p>
</body>
</html>
